.columns-container .columns-wrapper {
  max-width: unset;
  padding: 0;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.columns > div > div {
  order: 1;
  padding: 40px 24px;
}

.columns > div > .columns-img-col {
  order: 0;
  padding: 0;
  line-height: 0;
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: row;
    align-items: stretch;
    gap: 0;
    min-height: 380px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 56px;
  }

  .columns > div > .columns-img-col {
    flex: 1;
    padding: 0;
    overflow: hidden;
  }

  .columns > div > .columns-img-col img {
    min-height: 100%;
  }
}

/* Column text styling */
.columns h3,
.columns h4,
.columns h5 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
}

.columns p {
  font-size: 14px;
  line-height: 1.57;
  color: var(--text-color);
}

.columns > div > .columns-img-col p {
  margin: 0;
  line-height: 0;
}

.columns a:any-link:not(.button) {
  font-size: 13px;
  font-weight: 700;
}
