.tabs .tabs-list {
  display: flex;
  gap: 0;
  max-width: 100%;
  font-size: var(--body-font-size-s);
  overflow-x: auto;
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  padding: 12px 20px;
  background-color: transparent;
  color: var(--text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: nowrap;
  transition: border-color 0.2s;
}

.tabs .tabs-list button p {
  margin: 0;
}

.tabs .tabs-list button:hover {
  background-color: transparent;
  border-bottom-color: var(--link-color);
}

.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 3px solid var(--link-color);
  background-color: transparent;
  color: var(--link-color);
  cursor: initial;
}

.tabs .tabs-panel {
  margin-top: 0;
  padding: 24px 0;
  border: none;
  border-top: 1px solid #dadada;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}

.tabs .tabs-panel h3 {
  margin-top: 0;
  font-size: 20px;
}

.tabs .tabs-panel h4 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 1.2em;
}

.tabs .tabs-panel ul {
  list-style: none;
  padding: 0;
}

.tabs .tabs-panel li {
  font-size: 14px;
  line-height: 1.8;
}
